<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns="https://jakarta.ee/xml/ns/jakartaee"
  xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
  version="6.0">
  <display-name>WebStudy01</display-name>
  <welcome-file-list>
    <welcome-file>index.do</welcome-file>
  </welcome-file-list>

  <servlet>
    <servlet-name>DescriptionServlet</servlet-name>
    <servlet-class>kr.or.ddit.servlet01.DescriptionServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>DescriptionServlet</servlet-name>
    <url-pattern>/desc</url-pattern>
  </servlet-mapping>

  <session-config>
    <session-timeout>4</session-timeout>
    <tracking-mode>COOKIE</tracking-mode>
  </session-config>

  <!-- <security-role>
    <role-name>ROLE_ADMIN</role-name>
  </security-role>
  <security-role>
    <role-name>ROLE_USER</role-name>
  </security-role> -->

  <!-- <security-constraint>
    <web-resource-collection>
      <web-resource-name>Convert Service</web-resource-name>
      <url-pattern>/hw04/convert</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>ROLE_USER</role-name>
    </auth-constraint>
  </security-constraint>

  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Exchange Service</web-resource-name>
      <url-pattern>/hw05/exchange</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>ROLE_ADMIN</role-name>
    </auth-constraint>
  </security-constraint> -->

  <!-- <login-config>
    <auth-method>FORM</auth-method>
    <form-login-config>
      <form-login-page>/07/tomcat-login.jsp</form-login-page>
      <form-error-page>/07/tomcat-error.jsp</form-error-page>
    </form-login-config>
  </login-config> -->
</web-app>