<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.ddit.member.mapper.MemberMapper">
    <resultMap id="memberMap" type="kr.or.ddit.dto.MemberDto" autoMapping="true">
        <id property="memId" column="MEM_ID" />

        <collection property="memRoles" javaType="java.util.List" ofType="string">
            <result column="ROLE_NAME" />
        </collection>
        <collection property="cartList" ofType="kr.or.ddit.dto.CartDto" autoMapping="true">
            <id property="cartNo" column="CART_NO"/>
            <id property="prodId" column="PROD_ID"/>
            <association property="prod" autoMapping="true"/>
        </collection>
        
    </resultMap>

    <!-- selectMember -->
    <select id="selectMember" resultMap="memberMap"> 
        WITH CARTVIEW AS (
            SELECT CART_NO, PROD_ID, CART_QTY, MEM_ID
                , TO_DATE(SUBSTR(CART_NO, 1, 8), 'YYYYMMDD') CART_DATE 
                , PROD_NAME
                , PROD_PRICE
            FROM CART NATURAL JOIN PROD
        )
        SELECT 
            M.MEM_ID, MEM_PASS, MEM_NAME
            , MEM_REGNO1, MEM_REGNO2, MEM_BIR
            , MEM_ZIP, MEM_ADD1, MEM_ADD2
            , MEM_HOMETEL, MEM_COMTEL
            , MEM_HP, MEM_MAIL, MEM_JOB, MEM_LIKE
            , MEM_MEMORIAL, MEM_MEMORIALDAY, MEM_MILEAGE
            , MEM_DELETE
            , ROLE_NAME
            , C.*
        FROM MEMBER M LEFT OUTER JOIN MEMBER_ROLE MR ON(M.MEM_ID = MR.MEM_ID) 
                      LEFT OUTER JOIN CARTVIEW C ON (M.MEM_ID =C.MEM_ID) 
        WHERE M.MEM_ID = #{memId}
    </select>

    <!-- selectMemberList -->
    <select id="selectMemberList" resultMap="memberMap"> 
        SELECT M.MEM_ID, MEM_PASS, MEM_NAME,
        ROLE_NAME , MEM_HP, MEM_ADD1, MEM_MAIL 
        FROM MEMBER M INNER JOIN MEMBER_ROLE MR
        ON(M.MEM_ID = MR.MEM_ID) </select>

    <!-- updatePassword -->
    <update id="updatePassword"> 
        UPDATE MEMBER SET MEM_PASS = #{password} 
        WHERE MEM_ID = #{username} 
    </update>


    <!-- insertMember --> 
    <insert id="insertMember">
        INSERT INTO MEMBER (
            MEM_ID,
            MEM_PASS,
            MEM_NAME,
            MEM_REGNO1,
            MEM_REGNO2,
            MEM_BIR,
            MEM_ZIP,
            MEM_ADD1,
            MEM_ADD2,
            MEM_HOMETEL,
            MEM_COMTEL,
            MEM_HP,
            MEM_MAIL,
            MEM_JOB,
            MEM_LIKE,
            MEM_MEMORIAL,
            MEM_MEMORIALDAY
        )
        VALUES (
            #{memId},
            #{memPass},
            #{memName},
            #{memRegno1, jdbcType=VARCHAR},
            #{memRegno2},
            #{memBir},
            #{memZip},
            #{memAdd1},
            #{memAdd2},
            #{memHometel},
            #{memComtel},
            #{memHp},
            #{memMail},
            #{memJob},
            #{memLike},
            #{memMemorial},
            #{memMemorialday}
        )
    </insert>

    <!-- insertMemberRole --> 
    <insert id="insertMemberRole" parameterType="string">
        INSERT INTO MEMBER_ROLE (MEM_ID, ROLE_NAME)
        VALUES (#{username}, 'ROLE_USER')
    </insert>

    <!-- updateMember --> 
    <update id="updateMember">
        UPDATE MEMBER
        SET
            MEM_NAME = #{memName},
            MEM_REGNO1 = #{memRegno1},
            MEM_REGNO2 = #{memRegno2},
            MEM_BIR = #{memBir},
            MEM_ZIP = #{memZip},
            MEM_ADD1 = #{memAdd1},
            MEM_ADD2 = #{memAdd2},
            MEM_HOMETEL = #{memHometel},
            MEM_COMTEL = #{memComtel},
            MEM_HP = #{memHp},
            MEM_MAIL = #{memMail},
            MEM_JOB = #{memJob},
            MEM_LIKE = #{memLike},
            MEM_MEMORIAL = #{memMemorial},
            MEM_MEMORIALDAY = #{memMemorialday}
        WHERE MEM_ID = #{memId}
    </update>

    <!-- deleteMemberRole --> 
    <delete id="deleteMemberRole">
        DELETE FROM MEMBER_ROLE
        WHERE MEM_ID = #{memId}
    </delete>

    <!-- deleteMember --> 
    <delete id="deleteMember">
        UPDATE MEMBER
        SET 
        MEM_DELETE = 'T'
        WHERE MEM_ID = #{memId}
    </delete>
    
</mapper>